*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --light-violet:  hsl(257, 27%, 30%);
    --red: hsl(0, 87%, 67%);
   --gray: hsl(0, 0%, 75%);
   --gray-violet: hsl(257, 7%, 90%);
   --verydark-blue: hsl(255, 11%, 22%);
   --verydark-violet: hsl(260, 8%, 14%);
   --fs-xxl:3.7rem;
}

.text-darkviolet{
    color:var(--dark-violet);
}

.shorten-bg{
    background-image: url('/images/bg-shorten-desktop.svg');
    background-size:cover;
}
.boost-bg{
    background-image: url('/images/bg-boost-desktop.svg');
    background-size:cover;
    background-position: center;
}

.bg-darkviolet{
    background-color: var(--dark-violet);
}
.bg-lightviolet{
    background-color: var(--light-violet);
}

.bg-cyan{
    background-color: var(--cyan);
}
.bg-grayviolet{
    background-color: var(--gray-violet);
}

.fs-xxl{
    font-size:var(--fs-xxl)
}

.rounded-circle{
    border-radius: 50%;
}
.btn-cyan:hover{
    background-color:  hsl(180, 66%, 60%);;
}
.link-cyan:hover{
    color:var(--cyan) !important;
}
.text-cyan{
    color:var(--cyan);
}


  input:focus:invalid {
    border:2px solid red;
    color:red;
}

.mt-6{
    margin-top:5.5rem;
}

.mb-8{
    margin-bottom:12rem !important;
}

@media (min-width: 992px) {
    #box-top{
        transform: translateY(-2rem);
    }
    #box-middle{
        transform: translateY(+0.5rem);
    }
    #box-bottom{
        transform: translateY(2.5rem);
    }
    .md-linear-stripe{
        height:1rem !important;
        background-color: var(--cyan);
        padding:0 !important;
        margin:0 !important;
    }
}

@media (max-width: 992px) { 
    .form-result{
        flex-direction: column;
    }
    .form-result button{
        width:75%;
        padding: 1rem !important;
    }
    #box-top{
        padding-top:0;
    }
    #box-middle{
        padding-top:0 !important;
        margin-top: 0;
    }
    #box-bottom{
        padding-top:0 !important;
        margin-top: 0 !important;
    }
    .md-linear-stripe{
        height:6.5rem;
        width:1.2rem;
        background-color: var(--cyan);
    }
    #list-items img{
        translate: -50%;
    }
    .footer-wrapper{
        flex-direction: column;
        line-height:2rem;
    }
    #advanced-header{
        width:100% !important;
        margin-top:5.5rem !important;
    }
    #main-top{
        padding-bottom:250px;
    }
    #form-shorten{
        flex-direction: column;
    }
    #form-shorten button{
        padding:1rem !important;
    }
    #form-shorten input{
        width:100% !important;
        padding:1.2rem;
    }
    #list-items{
        flex-direction: column;
    }
    .container{
        text-align: center;
    }
    .shorten-bg{
        background-image: url('/images/bg-shorten-mobile.svg');
        background-size:cover;
        background-position: center;
    }
    .navbar-nav{
        padding:1.5rem;
        background-color:var(--dark-violet);
        height:25rem;
        flex-direction: column;
        margin-top:1.2rem;
    }
    .navbar-nav .btn{
        width: 85%;
        padding:1rem;
        font-weight: bold;
        font-size:1.3rem;
    }
    .navbar-nav .d-flex{
        flex-direction: column !important;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
    .navbar-nav .navbar-links{
        padding-bottom:1.2rem;
        border-bottom:1px solid var(--gray);
    }
    .navbar-nav a{
        color:#fff;
    }
 }